@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Konkhmer+Sleokchher&family=Lusitana:wght@400&family=Madimi+One&family=Myanmar+Khyay:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

body {
  font-family: 'Lusitana', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

